<div class="rc">
  <div class="rc__main-content">
    <img
      class="content__photo"
      src="https://github.com/evacechova/Angular-demo-images/blob/main/images/photo.png?raw=true"
      alt="Illustration photo"
    />
    <div class="content__text">
      <h3 class="reservation-details">{{ reservationData.name }}</h3>
      <p class="reservation-details">{{ reservationData.time }}</p>
      <p class="reservation-deatils">{{ reservationData.date }}</p>
    </div>
  </div>
  <button class="rc__btn">
    <img
      class="btn__icon"
      src="https://github.com/evacechova/Angular-demo-images/blob/main/images/search-icon.png?raw=true"
      alt="Magnifying glass icon"
    />
    <p class="btn__text">Reservation detail</p>
  </button>
</div>
